body{
    margin: 0px;
    padding: 0px;
    font-family: 'Flama Medium', sans-serif;
}
.logo{
    width: 110px;
    height: 100px;
}
.navBg{
    background-color: #0084A5 !important;
}
#header{
    background-color: #0084A5 !important;
}
.navMenuHover:hover{
    text-decoration: underline white 1px solid;
    font-style: italic;
}
.doctorPicture{
    width: 100%;
}
.linkDecoration{
color: black;
text-decoration: none;
}
.linkDecoration:hover{
    color: black;
    text-decoration: underline white;
}
.illustration{
    width: 200px;
    height: 180px;
}
.patientCard{
    width: 100%;
    height: 100%;
    border: 1px solid grey;
    padding: 5px;
    color: black;
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    background-color: burlywood;
    position: relative;
}

.modifyBtn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    border-radius: 0 !important;
}
.deleteBtn {
    position: absolute;
    top: 40px;
    
    right: 1px;
    width: 35px;
    border-radius: 0 !important;
}
